@import 'antd/dist/reset.css';

@font-face {
  font-family: 'SFProText-Regular';
  src: local('SFProText'), local('SFProText-Regular'),
    url('/fonts/SFProText/SFProText-Regular.ttf') format('truetype'),
    url('/fonts/SFProText/SFProText-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url('/fonts/SFProText/SFProText-Bold.ttf') format('truetype'),
    url('/fonts/SFProText/SFProText-Bold.otf') format('opentype');
  font-display: swap;
}

body {
  font-family: 'SFProText-Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue';
}
