#adminContainer {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 16px;
    background: rgba(191, 191, 191, 0.3);
    border-radius: 4px;
    color: #fff;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  :global {
    [data-theme='dark'] .site-layout .site-layout-background {
      background: #141414;
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) {
      width: 85%;
      margin-left: 7%;
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
      .ant-menu-item-selected {
      background-color: #18687f !important;
      border-radius: 5px;
    }

    inline.ant-menu-sub {
      background: transparent;
    }

    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background: transparent !important;
    }
  }
}
